<script>
    /* document.body.style.overflow = 'hidden';
    history.scrollRestoration = "manual"; */
    document.addEventListener('DOMContentLoaded', function() {
      const intro = document.querySelector('.tinkiu-homepage__intro');
      const INSET_WIDTH = getComputedStyle(intro).getPropertyValue('--width');
      const INSET_HEIGHT = getComputedStyle(intro).getPropertyValue('--height');
      const INSET_BORDER_RADIUS = getComputedStyle(intro).getPropertyValue('--border-radius');
      const INSET_HEADER_COLOR = getComputedStyle(intro).getPropertyValue('--header-color');

      const DELAY = 0.6;
      const INTRO_DURATION = 1.5;
      const MAIN_DELAY = INTRO_DURATION + DELAY + 0.1;
      const MAIN_DURATION = 0.2;

      const FADE_DURATION = 0.2;
      const SLIDE_DURATION = 0.2;

      console.log(getComputedStyle(intro).getPropertyValue('--header-color'))
      /* window.scrollTo(0, 0); */
      const timeline = gsap.timeline();
      const toNextSlide = (currentSlideNumber) => {
      timeline
          .to(`.tinkiu-homepage__intro-image img:nth-child(${currentSlideNumber})`, { opacity: 0, duration: 0 }, `+=${SLIDE_DURATION * (currentSlideNumber === 5 ? 1.5 : 1)}`)
          .to(`.tinkiu-homepage__intro-image img:nth-child(${currentSlideNumber + 1})`, { opacity: 1, duration: 0 }, '+=0')
      }

        /* Array(5).fill(0).forEach((_, index) => {
          toNextSlide(index + 1)
        }) */

        const pillWidth = getComputedStyle(intro).getPropertyValue('--width');
        const pillHeight = getComputedStyle(intro).getPropertyValue('--height');
        const pillMaxWidth = getComputedStyle(intro).getPropertyValue('--max-width');
        const pillMaxHeight = getComputedStyle(intro).getPropertyValue('--max-height');

        const width = Math.min(parseFloat(pillWidth), parseFloat(pillMaxWidth) * window.innerWidth / 100);
        const height = Math.min(parseFloat(pillHeight), parseFloat(pillMaxHeight) * window.innerWidth / 100);

        const introImageContainer = document.querySelector('.tinkiu-homepage__intro-image-container');
        const introImage = document.querySelector('.tinkiu-homepage__intro-image');
        const pillAspectRatio = parseFloat(pillWidth) / parseFloat(pillHeight);

        timeline
        .to('header.tinkiu-homepage-header', { duration: FADE_DURATION, color: 'black' }, `+=${DELAY}`)
        .to('.tinkiu-homepage__intro .tinkiu-logo', { duration: FADE_DURATION, opacity: 0 }, `-=0`)

        .to(introImage, {
          duration: 10,
          width: pillWidth,
          height: pillHeight,
          borderRadius: getComputedStyle(intro).getPropertyValue('--border-radius'),
          ease: 'power2.inOut',
          onComplete: () => {

            requestAnimationFrame(() => {
              introImageContainer.style.boxSizing = 'border-box';
              introImageContainer.style.height = '80vh';
              introImageContainer.style.minHeight = 'max(35vw, 350px)';
              introImageContainer.style.maxHeight = 'min(110vw, 1500px)';
              introImageContainer.style.marginBottom = '20vh'
            })
          }
        }, `-=0`)

  /*         .to(introImageContainer, {
          duration: 0.5,


          marginBottom: '20%',
          ease: 'power2.inOut'
        }, `-=0.1`) */

       /*  .to('.tinkiu-dot', {
          duration: 0.5,
          y: (_, target) => -target.getBoundingClientRect().height * 0.2,
          ease: 'power2.inOut'
        }, `-=0.1`)
        .to(introImage, {
          duration: 0.5,
          y: (_, target) => target.getBoundingClientRect().height * 0.3,
          ease: 'power2.inOut'
        }, `-=0`) */


        /*
        .to(introImage, {
          duration: 0,
          width: pillWidth,
          height: pillHeight,
          transformOrigin: 'center center',
          ease: 'linear'

        }, '+=0') */
      /* .to('body', { overflow: 'auto', duration: 0 }, '+=0')
        .to(['.tinkiu-homepage-header .tinkiu-logo','.tinkiu-homepage__intro-image-container .tinkiu-dot','.tinkiu-homepage__intro .tinkiu-homepage__blurb'], {
          duration: MAIN_DURATION,
          opacity: 1,
        }, '+=0.1')
        .to('header.tinkiu-homepage-header', { backgroundColor: getComputedStyle(intro).getPropertyValue('--header-color'), duration: 0 }, "+=0") */
    })


</script>

<div class="tinkiu-homepage__intro">
  {% render 'tinkiu-logo'
    , color: 'white' %}
  {% render 'tinkiu-homepage-blurb'
    , data: intro %}
  <div class="tinkiu-homepage__intro-image-container">
    {% render 'tinkiu-dot'
      , withSpace: false %}
    <div class="tinkiu-homepage__intro-image">
      {% for slide in intro.slides %}
        {% render 'tinkiu-media'
          , data: slide.image %}
      {% endfor %}
    </div>
    {% render 'tinkiu-dot'
      , withSpace: false %}
  </div>
</div>