<script>
    document.body.style.overflow = 'hidden';
    history.scrollRestoration = "manual";
    window.scrollTo(0, 0);
    document.addEventListener('DOMContentLoaded', function() {
      const isMobile = window.innerWidth < 750;
      const img = isMobile ? document.querySelector('.tinkiu-homepage__intro-image--animated-mobile img') : document.querySelector('.tinkiu-homepage__intro-image--animated-desktop img');
      img.addEventListener('load', () => {

      const DELAY = 0.5;

      const INTRO_DURATION = 1.25;
      const MOVE_DURATION = 0.5;

      const FADE_DURATION = 0.2;

      const timeline = gsap.timeline();

       const introImageContainer = document.querySelector('.tinkiu-homepage__intro-image-container--static');
       const introImageAnimated= document.querySelector('.tinkiu-homepage__intro-image--animated');
       const introImageStatic = document.querySelector('.tinkiu-homepage__intro-image--static');
       const INSET_WIDTH = getComputedStyle(introImageContainer).getPropertyValue('--homepage-image-size-long');
       const INSET_HEIGHT = getComputedStyle(introImageContainer).getPropertyValue('--homepage-image-size-short');

       const INSET_HEADER_COLOR = getComputedStyle(introImageContainer).getPropertyValue('--header-color');

        timeline
        .to('.tinkiu-homepage__intro .tinkiu-logo', { duration: FADE_DURATION, opacity: 0 }, `+=${DELAY}`)
        .to(introImageAnimated, {
          duration: INTRO_DURATION,
          width: INSET_WIDTH,
          height: INSET_HEIGHT,
          borderRadius: INSET_WIDTH,
          ease: 'power2.inOut',
        }, `-=0`)
        .to(introImageAnimated, {
           duration: MOVE_DURATION,
           x:(_,target) => introImageStatic.getBoundingClientRect().x - target.getBoundingClientRect().x,
           y:(_,target) => introImageStatic.getBoundingClientRect().y - target.getBoundingClientRect().y,
           onComplete: () => {
            introImageAnimated.style.opacity = 0;
            introImageStatic.style.opacity = 1;
            document.body.style.overflow = 'auto';
            document.querySelector('.tinkiu-homepage-header .tinkiu-logo').style.pointerEvents = 'all';
            document.querySelector('.tinkiu-header__hamburger').style.pointerEvents = 'all';
           }
        }, '-=0')
        .to([
          '.tinkiu-homepage-header .tinkiu-logo',
          '.tinkiu-homepage__intro-image-container--static .tinkiu-dot',
          '.tinkiu-homepage__intro-image-container--static .tinkiu-blurb',
          '.tinkiu-homepage__sticky-container.sticky >:not(.tinkiu-homepage__intro)',
        ], {
          duration: FADE_DURATION,
          opacity: 1,
          onComplete: () => {
            Array.from(document.querySelectorAll('.tinkiu-homepage__sticky-container.sticky >:not(.tinkiu-homepage__intro)')).forEach(element => {
              element.style.pointerEvents = 'all';
            });
          }
        }, '`-=0')
        .to('header.tinkiu-homepage-header', { duration: FADE_DURATION, color: 'black' }, `-=${FADE_DURATION}`)
        .to('.tinkiu-header__hamburger svg', { duration: FADE_DURATION, fill: 'black' }, `-=${FADE_DURATION}`)
        .to('header.tinkiu-homepage-header', { backgroundColor: INSET_HEADER_COLOR, duration: 0 }, "+=0")
      });

    })


</script>

<div class="tinkiu-homepage__intro">
  {% render 'tinkiu-logo'
    , color: 'white' %}
  <div class="tinkiu-homepage__intro-image-container--animated">
    <div class="tinkiu-homepage__intro-image--animated">
      <div class="tinkiu-homepage__intro-image--animated-desktop">
        {% render 'tinkiu-media'
          , data: intro.slides[5].image %}
      </div>
      <div class="tinkiu-homepage__intro-image--animated-mobile">
        {% assign url = intro.slides[5].image.filename | file_img_url: 'large' %}
        {% render 'tinkiu-media'
          , url: url
          , type: 'image'
          , alt: intro.slides[5].image.meta.alt %}
      </div>
    </div>
  </div>

  <div class="tinkiu-homepage__intro-image-container--static">
    <div class="tinkiu-homepage__intro-image-container-inner--static">
      {% render 'tinkiu-dot'
        , withSpace: false %}
      <div class="tinkiu-homepage__intro-image--static">
        {% render 'tinkiu-media'
          , data: intro.slides[5].image %}
      </div>
      {% render 'tinkiu-dot'
        , withSpace: false %}
    </div>
    {% render 'tinkiu-blurb'
      , data: intro %}
  </div>
</div>