<div class="tinkiu-homepage__ethos">

  {% render 'tinkiu-dot' %}
  {% render 'tinkiu-blurb'
    , data: data
    , renderButton: false %}
  <p>{{ data.paragraph1 }}</p>
  <div class="tinkiu-homepage__ethos__images">
    {% for data in data.images %}
      {% render 'tinkiu-homepage-ethos-image'
        , data: data
        , isLast: forloop.last %}
    {% endfor %}
  </div>
  <p>{{ data.paragraph2 }}</p>
  {% render 'tinkiu-blurb'
    , data: data
    , renderHeader: false %}
</div>