{% liquid
  assign link = linkButton.link | default: link
  assign label = linkButton.buttonLabel | default: label
%}

<a href="{{ link }}">
  <button class="tinkiu-cta-button">
    {{ label }}
  </button>
</a>