<div class="tinkiu-homepage__footer tinkiu-footer">
  <div class="tinkiu-footer__content">
    {% render 'tinkiu-logo'
      , color: 'all-white' %}
    <h2>More, Love.</h2>
  </div>
  {% render 'tinkiu-footer-links' %}
</div>