<script>
    /* document.body.style.overflow = 'hidden';
    history.scrollRestoration = "manual"; */
    document.addEventListener('DOMContentLoaded', function() {
      const DELAY = 0.6;
      const INTRO_DURATION = 1.25;
      const MOVE_DURATION = 0.5;

      const FADE_DURATION = 0.2;

      const timeline = gsap.timeline();

       const introImageContainer = document.querySelector('.tinkiu-homepage__intro-image-container--static');
       const introImageAnimated= document.querySelector('.tinkiu-homepage__intro-image--animated');
       const introImageStatic = document.querySelector('.tinkiu-homepage__intro-image--static');
       const INSET_WIDTH = getComputedStyle(introImageContainer).getPropertyValue('--homepage-image-size-long');
       const INSET_HEIGHT = getComputedStyle(introImageContainer).getPropertyValue('--homepage-image-size-short');

       const INSET_HEADER_COLOR = getComputedStyle(introImageContainer).getPropertyValue('--header-color');

        timeline
        .to('header.tinkiu-homepage-header', { duration: FADE_DURATION, color: 'black' }, `+=${DELAY}`)
        .to('.tinkiu-homepage__intro .tinkiu-logo', { duration: FADE_DURATION, opacity: 0 }, `-=0`)
        .to(introImageAnimated, {
          duration: INTRO_DURATION,
          width: INSET_WIDTH,
          height: INSET_HEIGHT,
          borderRadius: INSET_WIDTH,
          ease: 'power2.inOut',
        }, `-=0`)
        .to(introImageAnimated, {
           duration: MOVE_DURATION,
           x:(_,target) => introImageStatic.getBoundingClientRect().x - target.getBoundingClientRect().x,
           y:(_,target) => introImageStatic.getBoundingClientRect().y - target.getBoundingClientRect().y,
           onComplete: () => {
            introImageAnimated.style.opacity = 0;
            introImageStatic.style.opacity = 1;
            /* document.body.style.overflow = 'auto'; */
           }
        }, '+=0')
        .to(['.tinkiu-homepage-header .tinkiu-logo','.tinkiu-homepage__intro-image-container--static .tinkiu-dot','.tinkiu-homepage__intro-image-container--static .tinkiu-homepage__blurb'], {
          duration: FADE_DURATION,
          opacity: 1,
        }, '+=0')
        .to('header.tinkiu-homepage-header', { backgroundColor: INSET_HEADER_COLOR, duration: 0 }, "+=0")
    })


</script>

<div class="tinkiu-homepage__intro">
  {% render 'tinkiu-logo'
    , color: 'white' %}
  <div class="tinkiu-homepage__intro-image-container--animated">
    <div class="tinkiu-homepage__intro-image--animated">
      {% render 'tinkiu-media'
        , data: intro.slides[5].image %}
    </div>
  </div>

  <div class="tinkiu-homepage__intro-image-container--static">
    <div class="tinkiu-homepage__intro-image-container-inner--static">
      {% render 'tinkiu-dot'
        , withSpace: false %}
      <div class="tinkiu-homepage__intro-image--static">
        {% render 'tinkiu-media'
          , data: intro.slides[5].image %}
      </div>
      {% render 'tinkiu-dot'
        , withSpace: false %}
    </div>
    {% render 'tinkiu-homepage-blurb'
      , data: intro %}
  </div>
</div>