<div class="tinkiu-product-list">
  {% assign products = recommendations.products | limit: 4 %}
  {% for product in products %}
    <div class="tinkiu-homepage__product tinkiu-list-item">
      {% render 'tinkiu-product-insert'
        , id: product.id %}
    </div>
  {% endfor %}
</div>