{% liquid
  assign link = linkButton.link._ref | default: link
  assign label = linkButton.buttonLabel | default: label
%}

{{ link | json }}
{{ label | json }}

<button class="tinkiu-cta-button">
  <a href="/{{ link }}">
    {{ label }}
  </a>
</button>