<div
class="tinkiu-product-section">
  {% render 'tinkiu-section-header'
    , smallTitle: header
    , spaceBefore: true %}
  {% render 'tinkiu-product-list'
    , product: product
    , products: products %}
  {% render 'tinkiu-cta-button'
    , link: link
    , label: label %}
</div>