

<div class="tinkiu-homepage__ethos__image tinkiu-homepage__list">
  <img src="{{ data.image.url }}" alt="{{ data.image.alt }}">
  {% render 'tinkiu-homepage-large-list', text: data.caption, isLast: isLast %}
</div>