<script>
    /* document.body.style.overflow = 'hidden';
    history.scrollRestoration = "manual"; */
    document.addEventListener('DOMContentLoaded', function() {
      const DELAY = 0.6;
      const INTRO_DURATION = 1.25;

      const FADE_DURATION = 0.2;
      const SLIDE_DURATION = 0.2;

      const timeline = gsap.timeline();
      const toNextSlide = (currentSlideNumber) => {
      timeline
          .to(`.tinkiu-homepage__intro-image img:nth-child(${currentSlideNumber})`, { opacity: 0, duration: 0 }, `+=${SLIDE_DURATION * (currentSlideNumber === 5 ? 1.5 : 1)}`)
          .to(`.tinkiu-homepage__intro-image img:nth-child(${currentSlideNumber + 1})`, { opacity: 1, duration: 0 }, '+=0')
      }

        /* Array(5).fill(0).forEach((_, index) => {
          toNextSlide(index + 1)
        }) */

       const introImageContainer = document.querySelector('.tinkiu-homepage__intro-image-container');
       const introImage = document.querySelector('.tinkiu-homepage__intro-image');
       const INSET_WIDTH = getComputedStyle(introImageContainer).getPropertyValue('--homepage-image-size-long');
       const INSET_HEIGHT = getComputedStyle(introImageContainer).getPropertyValue('--homepage-image-size-short');

       const INSET_HEADER_COLOR = getComputedStyle(introImageContainer).getPropertyValue('--header-color');

        timeline
        .to('header.tinkiu-homepage-header', { duration: FADE_DURATION, color: 'black' }, `+=${DELAY}`)
        .to('.tinkiu-homepage__intro .tinkiu-logo', { duration: FADE_DURATION, opacity: 0 }, `-=0`)
        .to(introImage, {
          duration: INTRO_DURATION,
          width: INSET_WIDTH,
          height: INSET_HEIGHT,
          borderRadius: INSET_WIDTH,
          ease: 'power2.inOut',
          onComplete: () => {
            introImageContainer.classList.add('animation-finished');
            introImage.style.width = 'var(--homepage-image-size-long)';
            introImage.style.height = 'var(--homepage-image-size-short)';
          }
        }, `-=0`)
        .to('.tinkiu-dot', {
          duration: FADE_DURATION,
          opacity: 1,
          ease: 'power2.inOut'
        }, `+=0`)
        .to(['.tinkiu-homepage-header .tinkiu-logo','.tinkiu-homepage__intro-image-container .tinkiu-dot','.tinkiu-homepage__intro .tinkiu-homepage__blurb'], {
          duration: FADE_DURATION,
          opacity: 1,
        }, '+=0.1')
        .to('header.tinkiu-homepage-header', { backgroundColor: INSET_HEADER_COLOR, duration: 0 }, "+=0")
    })


</script>

<div class="tinkiu-homepage__intro">
  {% render 'tinkiu-logo'
    , color: 'white' %}
  {% render 'tinkiu-homepage-blurb'
    , data: intro %}
  <div class="tinkiu-homepage__intro-image-container">
    {% render 'tinkiu-dot'
      , withSpace: false %}
    <div class="tinkiu-homepage__intro-image">
      {% for slide in intro.slides %}
        {% render 'tinkiu-media'
          , data: slide.image %}
      {% endfor %}
    </div>
    {% render 'tinkiu-dot'
      , withSpace: false %}
  </div>
</div>