{% assign withSpace = withSpace | default: false, allow_blank: true %}
{% assign title = title | default: title %}
{% assign smallTitle = smallTitle | default: smallTitle %}
{% assign secondaryTitle = secondaryTitle | default: secondaryTitle %}


<div class="tinkiu-section-header">
  {% if noDot != true %}
    {% render 'tinkiu-dot'
      , withSpace: withSpace %}
  {% endif %}
  {% if title %}
    <h1>
      {{- title | escape -}}
    </h1>
  {% endif %}
  {% if smallTitle %}
    <h3>{{ smallTitle }}</h3>
  {% endif %}
  {% if secondaryTitle %}
    <h4>{{ secondaryTitle }}</h4>
  {% endif %}
</div>