<div class="tinkiu-homepage__ethos__image tinkiu-list-item{% if isMobile %} tinkiu-homepage__ethos__image-mobile{% endif %}">
  <img src="{{ image.url }}" alt="{{ image.alt }}">
  {% render 'tinkiu-homepage-large-list'
    , text: caption
    , isLast: isLast
    , isMobile: isMobile %}
</div>