{% liquid
  assign id = product._ref | remove: "shopifyProduct-" | times: 1
%}

<div class="tinkiu-homepage__product tinkiu-list-item">
  {% render 'tinkiu-homepage-large-list'
    , text: category
    , isLast: isLast %}
  {% render 'tinkiu-product-insert'
    , id: id %}
</div>