{% liquid
  assign disable_description = disable_description | default: false
%}


<h4>{{ product.title }}</h4>
{% if disable_description != true %}
  <p class="tinkiu-product-insert__description">{{ product.metafields['app--6007307--sanity-fields'].shortDescription }}</p>
{% endif %}
{% render 'price'
  , product: product %}