<h4>{{ product.title }}</h4>
<p>{{ product.metafields['app--6007307--sanity-fields'].shortDescription}}</p>
<p class="tinkiu-product-insert__price">{{ product.price | money }} {{cart.currency.iso_code }}</p>