<div
class="tinkiu-product-section">
  {% comment %} {% render 'tinkiu-dot' %}
        <h2>{{ header }}</h2> {% endcomment %}
  {% render 'tinkiu-section-header'
    , smallTitle: header
    , withSpace: true %}
  {% render 'tinkiu-product-list'
    , product: product
    , products: products %}
  {% render 'tinkiu-cta-button'
    , link: link
    , label: label %}
</div>