{% liquid
  assign id = product._ref | remove: "shopifyProduct-" | times: 1
%}

<div class="tinkiu-homepage__product tinkiu-list-item">
  {% comment %}  {% render 'tinkiu-homepage-large-list'
        , text: category
      , isProduct: true %} {% endcomment %}
  {% render 'tinkiu-product-insert'
    , id: id %}
</div>