<div class="tinkiu-homepage-newsletter">
  <img src="{{ data.image.url }}" alt="{{ data.image.alt }}">
  <div class="tinkiu-homepage-newsletter__content">
    {% render 'tinkiu-dot' %}
    <h2>{{ data.title }}</h2>
    {% render 'tinkiu-newsletter' %}
  </div>
</div>