{% liquid
  assign link = linkButton.link._ref | default: link
  assign label = linkButton.buttonLabel | default: label
%}

<button class="tinkiu-cta-button">
  <a href="{{ link }}">
    {{ label }}
  </a>
</button>