$header-xxl: 5.6rem;
$header-xl: 5rem;
$header-line-height: 1.3;

$subheader-xxl: 3.6rem;
$subheader-xl: 3.2rem;
$subheader-l: 3rem;

$large-copy-xl: 2.4rem;
$large-copy-l: 2.2rem;
$large-copy-m: 2rem;
$large-copy-s: 1.8rem;

$copy: 1.5rem;
$copy-s: 1.25rem;

$font-family-heading: 'Fenul', serif;
$font-family-body: 'Dazzed', sans-serif;