@use '../../tinkiu-sizes' as *;
@use '../../tinkiu-layouts' as *;
@use '../../tinkiu-colors' as *;

.tinkiu-homepage__intro {
  @include fullscreen;
  flex: none;
  position: relative;

  .tinkiu-homepage__blurb {
    position: absolute;
    top: calc((#{$intro-image-height} - #{$intro-image-padding-bottom} + var(--homepage-image-size-short)) / 2);
    bottom: 2.5%;
    opacity: 0;
  }

  .tinkiu-logo {
    @include shift-to-center;
    z-index: 999;
    width: max(var(--homepage-logo-width), var(--homepage-intro-logo-vw));
    height: auto;
  }
}


.tinkiu-homepage__intro-image-container {
  @include flex;
  @include fullscreen(row);
  --header-color: #{$ash};
  transition: all 0.5s ease-in-out;
  gap: min(var(--dot-with-space-margin-top), 7vw);

  .tinkiu-dot {
    opacity: 0;
    margin: 0;
  }

  &.animation-finished {
    padding-bottom: $intro-image-padding-bottom;

    .tinkiu-homepage__intro-image-container {
      width: var(--homepage-image-size-long);
      height: var(--homepage-image-size-short);
    }
  }
}

.tinkiu-homepage__intro-image {
  height: 100%;
  width: 100%;
  flex: none;
  overflow: hidden;
  transform-origin: center;

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    @include square;
    @include top-left;
    object-fit: cover;
    opacity: 0;

    &:last-child {
      opacity: 1;
    }

    &:last-child {
      position: relative;
    }
  }
}