<div class="tinkiu-footer">
  {% render 'tinkiu-footer-links' %}
  <div class="tinkiu-footer__bottom-underlay"></div>
</div>

{% schema %}
  {
    "name": "Tinkiu Footer",
    "settings": []
  }
{% endschema %}