<div class="tinkiu-404">
  {% render 'tinkiu-dot' %}
  {% render 'tinkiu-homepage-blurb' header: '404 - Page Not Found'
    , linkButtonText: 'Return to Home'
    , linkButtonUrl: routes.root_url
    , renderButton: true %}
</div>