{% assign metaobj = shop.metaobjects['app--6007307--sanity-documents-home'].values %}


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const stickyContainer = document.querySelector('.tinkiu-homepage__sticky-container');
    const wrapper = document.querySelector('.tinkiu-homepage');
    function animate() {
      stickyContainer.classList.add('sticky');
      wrapper.style.position = 'relative';
      wrapper.style.top = `calc(${Array.from(stickyContainer.children).reduce((acc, elem) => acc + elem.getBoundingClientRect().height + parseFloat(getComputedStyle(elem).getPropertyValue('margin-top')) + parseFloat(getComputedStyle(elem).getPropertyValue('margin-bottom')), 0)}px - 100vh)`;
      // console.log(stickyContainer.style.top);
      requestAnimationFrame(animate);
    }
    animate();
  })
</script>


<div class="tinkiu-homepage">
  {% for o in metaobj -%}
    <div class="tinkiu-homepage__sticky-container">
      {% render 'tinkiu-homepage-intro-slides'
        , intro: o.intro.value %}
      {% render 'tinkiu-homepage-feature'
        , data: o.feature.value %}
      {% render 'tinkiu-homepage-products'
        , data: o.products.value %}
      {% render 'tinkiu-story-preview'
        , data: o.story.value %}
      {% render 'tinkiu-homepage-founder'
        , data: o.founder.value %}
      {% render 'tinkiu-homepage-ethos'
        , data: o.ethos.value %}
      {% render 'tinkiu-homepage-newsletter'
        , data: o.newsletter.value %}
    </div>
    {% render 'tinkiu-homepage-footer' %}
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Tinkiu Homepage",
    "settings": []
  }
{% endschema %}