{%- style -%}
  :root {
    --tinkiu-color-background: rgb(255, 0, 0);
    --tinkiu-pop-up-opacity: 0;
  }
  .tinkiu-test {
    background-color: var(--tinkiu-color-background);
    height: 1000vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .tinkiu-test h1 {
    color: black;
    font-size: 100px;
  }

  .tinkiu-test h2 {
    color: white;
    font-size: 100px;
    position: fixed;
    top: 120px;
    left: 120px;
    opacity: var(--tinkiu-pop-up-opacity);
  }


{%- endstyle -%}

{%- javascript -%}
   document.addEventListener('scroll', () => {
    console.log('hi')
    document.querySelector('.tinkiu-test')
    .style.setProperty('--tinkiu-color-background', `rgb(${window.scrollY / 100}, 0, 0)`);
    if (window.scrollY > 1000) {
      document.querySelector('.tinkiu-test h2')
      .style.setProperty('--tinkiu-pop-up-opacity', 1);
    }
  });
{%- endjavascript -%}

<div class="tinkiu-test">
  <h1>Hello World</h1>
  <h2>TESTING</h2>
</div>



{% schema %}
{
  "name": "tinkiu-test",
  "settings": []
}
{% endschema %}