{% assign stories = shop.metaobjects['app--6007307--sanity-documents-tinkiuStory'].values %}
{% for story in stories %}
  {% assign o = story %}
{% endfor %}

<div class="tinkiu-own-story tinkiu-rich-content-container tinkiu-full-width">
  <div class="tinkiu-own-story__content">
    <div class="tinkiu-portable-text">
      {% render 'portable-text'
        , portableText: o.storyContent.value %}
    </div>
  </div>
  <div class="tinkiu-own-story__gallery">
    <div class="tinkiu-own-story__gallery__images">
      {% for media in o.gallery.value %}
        {% if media._type == 'shopifyImage' %}
          {% render 'tinkiu-media'
            , data: media.image %}
        {% elsif media._type == 'shopifyVideo' %}
          {% render 'tinkiu-media'
            , data: media.video %}
        {% endif %}
      {% endfor %}
    </div>
    <p>{{ o.galleryCaption.value }}</p>
  </div>
  <div class="tinkiu-own-story__vimeo">
    {% render 'tinkiu-vimeo'
      , vimeo_url: o.vimeoLink %}
    <p>{{ o.vimeoCaption.value }}</p>
  </div>
  <div class="tinkiu-own-story__additional-writeup">
    <div class="tinkiu-portable-text">
      {% render 'portable-text'
        , portableText: o.additionalWriteup.value %}
    </div>
  </div>
  <div class="tinkiu-own-story__images">
    {% for image in o.additionalPhotos.value %}
      {% render 'tinkiu-media'
        , data: image.image %}
    {% endfor %}
    <p>{{ o.additionalPhotosCaption.value }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Tinkiu’s Own Story",
    "settings": []
  }
{% endschema %}