$l-spacing-5: 20rem;
$l-spacing-4: 15rem;
$l-spacing-3: 12rem;
$l-spacing-2: 7.5rem;
$l-spacing-1: 6rem;
$space-5: 4.5rem;
$space-4: 3.6rem;
$space-3: 3rem;
$space-2: 2.25rem;
$space-1: 1.8rem;
$s-space-5: 1.5rem;
$s-space-4: 1.1rem;
$s-space-3: 0.8rem;
$s-space-2: 0.5rem;
$s-space-1: 0.3rem;

$fullscreen-h-min-vw: 50vw;
$fullscreen-h-max-vw: 200vw;
$fullscreen-h-min-px: 500px;
$fullscreen-h-max-px: 2500px;

$total-columns: 12;
$side-info-columns: 5;
$header-height: calc(var(--header-logo-height) + var(--header-margin-y) * 2);
$product-image-max-width: calc((100vh - var(--large-section-gap)) / 5 * 4);

$input-border-radius: 4px;

$s: 480px;
$m: 750px;
$l: 1024px;
$xl: 1280px;
$xxl: 1536px;
