$large-spacing-xl: 20rem;
$large-spacing-l: 15rem;
$large-spacing-m: 12rem;
$large-spacing-s: 7.5rem;
$large-spacing-xs: 6rem;
$spacing-xxl: 4.5rem;
$spacing-xl: 3.6rem;
$spacing-l: 3rem;
$spacing-m: 2.25rem;
$spacing-s: 1.8rem;

$small-space-l: 1.5rem;
$small-space-m: 1.2rem;
$small-space-s: 0.8rem;
$small-space-xs: 0.5rem;
$small-space-xxs: 0.3rem;

$fullscreen-height-min-vw: 50vw;
$fullscreen-height-max-vw: 110vw;
$fullscreen-height-min-px: 500px;
$fullscreen-height-max-px: 1500px;

$total-columns: 12;
$side-info-columns: 5;
$header-height: calc(var(--header-logo-height) + var(--header-margin-y) * 2);

$input-border-radius: 4px;

$s: 480px;
$m: 750px;
$l: 1024px;
$xl: 1280px;
$xxl: 1536px;