@use 'layouts' as *;

.tinkiu-services {
  @include flex($justify: flex-start, $full-screen: true, $column: true, $section-gapped: true);

  .tinkiu-services__description {
    @include inset-width;
  }

  .tinkiu-services__content {
    @include flex($column: true);
    width: var(--full-width);

    .tinkiu-section-header h1 {
      margin-bottom: var(--section-media-spacing);
    }
  }

  .tinkiu-services__hero-media {
    @include inset-width;

    img {
      display: flex;
      border-radius: var(--media-border-radius);
      width: 100%;
    }
  }
}