@use 'layouts' as *;
@use 'colors' as *;
@use 'size-maps' as *;

@mixin and-children() {

  .product-media-container,
  .product__modal-opener.product__modal-opener--image,
  .product__media.media {
    @content;
  }
}

slider-component.tinkiu-product-media-gallery {
  width: 100%;

  ul.product__media-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--inner-column-gap);
  }

  li.product__media-item.grid__item.slider__slide {
    aspect-ratio: 4/5;
    flex: none;

    .product__media-icon.motion-reduce {
      display: none;
    }

    @include and-children {
      aspect-ratio: 4/5;
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: 100% !important;
      max-height: 100% !important;
      overflow: hidden;
    }
  }

  li.product__media-item.grid__item.slider__slide:not(:first-child) {
    $column-width: calc((var(--product-image-width) - var(--inner-column-gap) * 2) / 3);
    width: 100%;
  }
}