@use 'tinkiu-typography' as *;
@use 'tinkiu-colors' as *;
@use 'tinkiu-sizes' as *;
@use 'tinkiu-layouts' as *;

@forward 'tinkiu-hompage-intro';
@forward 'tinkiu-homepage-feature';
@forward 'tinkiu-homepage-products';
@forward 'tinkiu-homepage-stories';
@forward 'tinkiu-homepage-founder';
@forward 'tinkiu-homepage-ethos';
@forward 'tinkiu-homepage-newsletter';
@forward 'tinkiu-homepage-footer';

.tinkiu-homepage {
  @include flex-column;
  position: relative;
  background-color: $ash;

  h2 {
    @include section-header;
  }

  p {
    text-align: center;
    margin: var(--paragraph-spacing) 0;
    max-width: var(--text-max-width);
  }

  >div,
  >.tinkiu-homepage__sticky-container>div {
    @include flex-column;
  }

}

.tinkiu-homepage__sticky-container.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  justify-content: flex-end;
}

.tinkiu-homepage-header {
  background-color: transparent;
  color: white;

  .tinkiu-logo {
    opacity: 0;
  }
}




.tinkiu-homepage__blurb {
  @include flex-column;



}