@use "layouts" as *;
@use "typography" as *;

.tinkiu-newsletter__form,
.tinkiu-password-form,
.tinkiu-newsletter__form--footer {
  @include flex($column: true);
  position: relative;

  input {
    &,
    &:focus,
    &:not(:placeholder-shown) {
      width: min(var(--newsletter-max-width), var(--full-width));
      background-color: inherit;

      height: fit-content;
      line-height: 1.2;

      font-size: var(--small-copy-label);
      font-family: $font-family-body;
    }
  }

  .tinkiu-cta-button {
    margin-top: var(--form-button-margin-top);
  }
}

.tinkiu-newsletter__form,
.tinkiu-password-form {
  input {
    &,
    &:focus,
    &:not(:placeholder-shown) {
      padding: var(--input-padding) 0;
    }
  }

  label {
    bottom: var(--input-padding);
  }
}

.tinkiu-newsletter__form--footer {
  flex-direction: row;
  gap: var(--hair-space-y);

  label,
  input {
    color: white !important;
  }

  @include mobile {
    width: 100%;
    /* flex-direction: column;
    align-items: flex-start;
    gap: var(--column-gap); */
  }

  .tinkiu-newsletter__field {
    @include mobile {
      width: 100%;
    }
  }

  input {
    &,
    &:focus,
    &:not(:placeholder-shown) {
      border-color: white !important;
      padding: 0 0 var(--hair-space-y) 0;
      margin: 0;
      width: 240px;

      @include mobile {
        width: 100%;
      }
    }
  }

  label {
    top: 0;
  }

  button {
    margin: 0;
  }
}
