@use "layouts" as *;
@use "typography" as *;

.tinkiu-memory-collection {
  padding-bottom: var(--inner-section-spacing);

  .tinkiu-memory-collection__gallery__images {
    @include split(3);
    width: var(--full-width);
    flex-wrap: wrap;

    img.tinkiu-media {
      height: auto;
    }

    @include mobile {
      @include split(1);
    }
  }
}
