@use 'layouts' as *;
@use 'typography' as *;

@forward 'tinkiu-story-preview';

.tinkiu-story-container {
  @include flex($full-screen: true, $column: true, $no-padding: true);
}

.tinkiu-story {
  @include flex($column: true, $full-width: true, $no-padding: true);

  .tinkiu-story__hero-media {
    @include inset-width;

    img,
    video {
      display: flex;
      border-radius: var(--media-border-radius);
      width: 100%;
    }
  }

  .tinkiu-story__folio {
    @include flex($align: flex-start, $gapped: true, $inset-width: true);
    margin-top: var(--section-media-spacing);

    @include mobile {
      flex-direction: column;
    }
  }

  .tinkiu-story__description {
    @include description;
    @include half-inset-width;
    margin-top: 0;

    @include mobile {
      width: 100%;
    }
  }

  .tinkiu-story__details {
    @include details($responsive: true);
    @include flex($flex-start: true);
    margin-top: 0;

    .tinkiu-story__description {
      @include description;
      width: 100%;
      margin-top: inherit;
    }

    @include mobile {
      width: 100%;
      @include split;
    }
  }

  .tinkiu-story__folio--with-product .tinkiu-story__details-container {
    gap: var(--paragraph-spacing);

    @include mobile {
      margin-top: var(--paragraph-spacing);
    }
  }


  .tinkiu-story__folio--with-product {
    .tinkiu-story__details-container {
      @include flex($column: true);
      @include half-inset-width;

      @include mobile {
        width: 100%;
        align-items: flex-start;
      }
    }

    .tinkiu-product-insert__images {
      @include mobile {
        @include split;
      }
    }
  }

  .tinkiu-story__folio:not(.tinkiu-story__folio--with-product) {
    .tinkiu-story__details-container {
      @include flex($flex-start: true, $inset-width: true);

      @include mobile {
        width: 100%;
        align-items: flex-start;
      }
    }
  }

  .tinkiu-story__details {
    @include desktop {
      @include half-inset-width;
    }
  }

  .tinkiu-story__content {
    @include flex($column: true, $inset-width: true);

    p {
      line-height: 1.2;

      em,
      code {
        font-style: normal;
        font-family: $font-family-body;
      }
    }

    ul,
    ol {

      padding-left: var(--story-list-margin);
      margin: var(--paragraph-spacing) var(--story-list-margin);

      font-size: var(--large-copy);
    }

    ul {
      display: block;
      list-style: disc;
    }

    li {
      line-height: 1.2;
    }

    img,
    video {
      width: 100%;
      height: auto;
      display: block;
      margin-top: var(--section-media-spacing);
      margin-bottom: var(--section-media-spacing);
    }

    iframe,
    blockquote {
      margin: var(--section-media-spacing) 0 !important;
    }
  }
}