@use 'layouts' as *;
@use 'colors' as *;

// FINISHED
.product__info-wrapper div.tinkiu-buy-buttons {

  &,
  & product-form {
    margin: 0;
  }

  product-form {
    margin-top: var(--product-details-gap);
  }

  &,
  & div.product-form__buttons {
    width: var(--side-info-width);
    max-width: 100%;
  }

  div.product-form__buttons {
    @include split($gap: var(--inner-column-gap));
  }

  button#tcustomizer-add,
  button[type='submit'],
  button.shopify-payment-button__button {
    @include cta-button;
    margin: 0;
  }

  button.shopify-payment-button__button {
    @include button-active;
  }

  shopify-buy-it-now-button:disabled {
    button.shopify-payment-button__button {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}