@use 'layouts' as *;
@use 'typography' as *;
@use 'colors' as *;
@use 'sizes' as *;

.tinkiu-contact {
  @include flex($full-screen: true, $column: true, $no-padding: true);

  .tinkiu-contact__contact-items {
    @include details(true, true, true);
    @include split(4, $gap: var(--inner-column-gap));
    width: var(--inset-width);
    max-width: var(--inset-width);
    margin: var(--large-inner-section-gap) 0;
    flex-wrap: wrap;

    @include below-medium-mobile {
      @include split(2, $gap: var(--inner-column-gap));
    }

    @include below-small-mobile {
      >div {
        width: 100%;
      }
    }
  }

}

.tinkiu-contact-form {
  @include flex($full-screen: true, $column: true);

  .contact {
    width: var(--inset-width);
    max-width: var(--inset-width);
    padding: 0;
    margin: 0;
  }

  .field {
    margin: var(--paragraph-spacing) 0 0;
    font-size: var(--small-copy);
  }

  .contact__fields {
    @include flex($gapped: true);
    @include split;

    @include below-small-mobile {
      flex-direction: column;
      gap: var(--inner-column-gap);

      .field {
        width: 100%;
      }
    }

    .field {
      margin: 0;

      input {
        border: border(black);
      }


    }
  }

  textarea.text-area {

    &,
    &:focus,
    &:not(:placeholder-shown) {
      border: border(black);
      background-color: $ash;
    }

  }

  input.field__input,
  textarea.text-area {
    padding: var(--input-padding);
    font-size: var(--small-copy);
    font-family: $font-family-body;
    color: black;
    border-radius: $input-border-radius;

    ~label {
      left: var(--input-padding);
    }
  }

  .contact__button {
    @include flex;
    margin-top: var(--blurb-button-margin-top);
  }
}