@use 'colors' as *;
@use 'sizes' as *;
@use 'typography' as *;
@use 'layouts' as *;

header {
  @include flex($full-screen: true, $align: center, $justify: space-between);
  padding: var(--header-margin-y) var(--page-margin-x);
  position: fixed;
  top: 0;
  text-transform: uppercase;
  background-color: $ash;
  z-index: 999;

  div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  ul {
    gap: var(--header-gap);
    font-size: var(--header-font-size);
  }

  .tinkiu-logo-container {
    @include flex;

    a {
      display: flex;
    }
  }
}

.tinkiu-logo {
  height: var(--header-logo-height);
}