@use 'tinkiu-typography' as *;
@use 'tinkiu-layouts' as *;

div.tinkiu-product-details {
  @include details;

  margin-top: var(--inner-section-spacing);
  margin-bottom: var(--product-details-gap);

  p {
    @include detail-caption;
  }

  p:first-child {
    @include detail-label;
  }
}