@use "layouts" as *;
@use "colors" as *;
@use "typography" as *;

#MainContent {
  .tinkiu-product-app .cl-upload--wrapper {
    margin-bottom: var(--inner-section-spacing);

    .filepond--drop-label {
      cursor: pointer !important;

      label {
        font-weight: bold;
        text-transform: uppercase;
        font-size: var(--ui-small) !important;
        color: black !important;
      }
    }

    .filepond--drop-label,
    li {
      transform: none !important;
      will-change: none !important;
    }

    .filepond--panel {
      border-radius: var(--button-radius);
    }
    .filepond--image-preview-wrapper {
      border-radius: 2.4rem;
    }

    .filepond--drop-label label,
    .filepond--file {
      font-family: $font-family-body !important;
    }
  }

  .filepond--image-preview-overlay-success {
    opacity: 0 !important;
  }

  .cl-upload--label {
    @include detail-label(true);
    color: black !important;
    font-size: var(--small-copy) !important;
  }

  .cl-upload--errors {
    .cl-upload--error {
      background-color: transparent !important;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
      pointer-events: none !important;

      p {
        font-size: var(--small-copy) !important;
        color: $red !important;
        width: fit-content !important;
        @include with-asterisk;
      }
    }
  }
}

.doka--root {
  font-family: $font-family-body !important;
  span {
    font-size: var(--ui-small) !important;
  }

  * {
    text-transform: uppercase !important;
  }

  .doka--crop-rotator-line-mask,
  .doka--crop-rotator,
  .doka--button-action-reset {
    display: none !important;
  }

  .doka--edit-status {
    color: black !important;
  }

  button {
    padding: var(--button-padding) !important;
    border-radius: var(--button-radius) !important;
    height: var(--button-height) !important;

    font-weight: bold !important;

    @include desktop {
      margin: 0 !important;
    }

    @include mobile {
      width: fit-content !important;
    }

    &:hover,
    &:focus {
      background-color: transparent !important;
      cursor: pointer !important;
      web-kit-backdrop-filter: none !important;
      backdrop-filter: none !important;
    }

    span {
      line-height: 1 !important;
    }
  }

  .doka--menu > button {
    height: calc(var(--button-height) - var(--button-padding) * 2) !important;
  }

  .doka--menu {
    @include mobile {
      margin: var(--page-margin-x) var(--page-margin-y) !important;
    }
  }

  .doka--button-action-cancel {
    background-color: transparent !important;
    web-kit-backdrop-filter: none !important;
    backdrop-filter: none !important;

    border: border() !important;
    border-color: white !important;

    &:hover {
      background-color: white !important;
      color: black !important;
    }
  }

  .doka--button-action-confirm {
    background-color: $red !important;
    color: white !important;

    &:hover,
    &:focus {
      background-color: $red !important;
      color: white !important;
    }
  }

  .doka--toolbar > div:last-child {
    display: none !important;
  }
}
