@use 'tinkiu-sizes' as *;
@use 'tinkiu-layouts' as *;
@use 'tinkiu-typography' as *;
@use 'tinkiu-colors' as *;

.tinkiu-product-insert {
  @include flex-column (flex-start, flex-start);

  p.tinkiu-product-insert__description,
  p.tinkiu-product-insert__price {
    margin: 0;
    font-size: var(--small-copy);
    text-align: left;
  }

  h4 {
    font-size: var(--medium-copy);
    font-family: $font-family-body;
    margin-top: 0;
    margin-bottom: calc(var(--products-gap) - 2px); // line-height compensation

    &:not(:first-child) {
      margin-top: var(--products-gap);
    }
  }


  p.tinkiu-product-insert__price {
    margin-top: var(--product-insert-price-margin);

    &:not(:first-child) {
      margin-bottom: var(--products-gap);
    }
  }

  &--small {
    .tinkiu-product-insert__images img {
      width: column-width(2);
    }
  }

  &--medium {
    .tinkiu-product-insert__images img {
      width: var(--list-width);
    }
  }

  .tinkiu-product-insert__images {
    @include flex;
    gap: var(--column-gap);

    img {
      flex: none;
    }
  }

  img {
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.tinkiu-dot {
  @include square(var(--dot-size));
  background-color: $red;
  border-radius: 100%;

  &:empty {
    display: block;
  }

  &--with-space {
    margin-top: var(--large-section-gap);
    margin-bottom: var(--dot-margin-bottom);
  }
}

.tinkiu-cta-button {
  @include cta-button;
}