@use 'tinkiu-sizes' as *;
@use 'tinkiu-layouts' as *;
@use 'tinkiu-typography' as *;
@use 'tinkiu-size-maps' as *;

.tinkiu-homepage__stories__content {
  @include flex(flex-start);
  width: var(--full-width);
  gap: var(--column-gap);
  margin-top: var(--section-media-spacing);
  height: var(--homepage-stories-image-height);

  >div {
    @include square;
  }

  .tinkiu-homepage__stories__image {
    display: flex;
    width: var(--split-image-width);
    flex-shrink: 0;

    img {
      border-radius: var(--media-border-radius);
      width: 100%;
      object-fit: cover;
    }
  }

  .tinkiu-homepage__stories__content__info {
    @include flex-column(flex-start, space-between);
  }

  h3 {
    margin: 0;
    margin-top: var(--large-inner-section-gap);
    font-size: var(--subsection-header);
    text-transform: uppercase;
    line-height: 1.1;
    max-width: var(--side-info-width);
  }


  .tinkiu-homepage__stories__category {
    text-align: left;
    font-size: var(--small-copy);
    margin-top: var(--small-space-y);
  }

  .tinkiu-homepage__stories__details {
    @include details;
  }

  .tinkiu-homepage__stories__description {
    @include description;
    text-align: left;
    margin: var(--homepage-stories-description-margin-top) 0;
  }

  .tinkiu-cta-button {
    margin: 0;
  }

  .tinkiu-product-insert {
    justify-self: flex-end;
  }
}