@use 'tinkiu-typography' as *;
@use 'tinkiu-layouts' as *;
@use 'tinkiu-colors' as *;

variant-selects.tinkiu-product-variant-picker {
  @include flex-column(flex-start, flex-start);
  gap: var(--product-details-gap);
  margin-top: 0;
  margin-bottom: var(--product-details-gap);

  fieldset {
    margin: 0;

    legend.form__label {
      @include detail-label;
      margin: 0;
      margin-bottom: var(--detail-label-margin);
    }

    &.product-form__input {
      &--swatch {
        display: flex;
        gap: var(--radio-input-gap);

        .swatch-input__input+.swatch-input__label {
          margin: 0;
        }

        input[type='radio']:checked+label {
          background-color: black;
          color: $ash;
        }
      }

      &--pill {
        input[type='radio'] {
          margin: 0;
          width: 0;
          height: 0;

          +label {
            background-color: $ash;
            color: black;
            margin: 0;
            border-color: black;
            font-size: var(--variant-pill);
            padding: 0.625em 1.25em;
          }

          &:checked+label {
            background-color: black;
            color: $ash;
          }

          &.disabled+label,
          &:checked.disabled+label {
            color: $gray;
            border-color: $gray;
            cursor: not-allowed;
            pointer-events: none;
          }
        }

        legend.form__label {
          margin-bottom: var(--hair-space-y);
        }
      }
    }
  }
}