@use 'tinkiu-sizes' as *;
@use 'tinkiu-layouts' as *;
@use 'tinkiu-typography' as *;
@use 'tinkiu-colors' as *;

.tinkiu-homepage__footer {
  @include fullscreen;
  z-index: 99;
  max-height: 100vh;

  .tinkiu-logo {
    padding-top: $header-height;
    width: var(--homepage-logo-width);
    height: auto;
  }

  h2 {
    margin-top: var(--inner-section-spacing);
    color: white;
  }


  .tinkiu-footer__content {
    @include flex-column;
    position: relative;
    top: 45%;
    transform: translate(0, -50%);
  }

  .tinkiu-footer__links {
    margin-top: auto;
    margin-bottom: var(--header-margin-y);
  }
}