@use 'sizes' as *;
@use 'layouts' as *;
@use 'typography' as *;
@use 'colors' as *;



.tinkiu-dot {
  @include square(var(--dot-size));
  background-color: $red;
  border-radius: 100%;

  &:empty {
    display: block;
  }

  &--with-space {
    margin-top: var(--large-section-gap);
    margin-bottom: var(--dot-margin-bottom);
  }
}

.tinkiu-section-header {
  @include flex($column: true);

  h1 {
    @include section-header;
    text-align: center;
  }

  &:has(+ img) h1 {
    margin-bottom: var(--section-media-spacing);
  }

  .tinkiu-dot:has(+ h3) {
    margin-bottom: var(--header-gap);
  }

  h3 {
    @include subsection-header;
    margin-bottom: var(--header-gap);
  }


  h4 {
    font-size: var(--medium-copy);
    text-align: center;
    font-family: $font-family-body;
    margin: var(--paragraph-spacing) 0 var(--section-media-spacing);
  }

  .tinkiu-dot {
    margin-bottom: var(--dot-margin-bottom);
  }
}

.tinkiu-cta-button,
button[type="submit"] {
  @include cta-button;
}

main {
  background-color: $ash;
  min-height: 100vh;

  div.gradient {
    background-color: $ash;

  }

  section.shopify-section.section {

    &,
    &>div,
    & .gradient {
      background-color: $ash;
    }
  }

  section:last-child,
  >div:last-child {
    margin-bottom: var(--footer-margin-top);
  }
}

.tinkiu-list-item {
  @include flex($column: true, $align: flex-start);
  width: var(--list-width);

  img {
    @include square;
    object-fit: cover;
    aspect-ratio: 1; // TODO
  }

  h3 {
    @include subsection-header;
    text-align: center;
    width: 100%;

    &:first-child {
      margin-bottom: var(--list-margin);
    }

    &:not(:first-child) {
      margin-top: var(--list-margin);
    }
  }
}

.tinkiu-main {
  padding-top: calc(#{$header-height} + var(--large-section-gap));
}


.tinkiu-quantity-input {
  margin: 0;

  quantity-input.quantity {
    @include no-focus-outline;
    width: var(--side-info-width);

    background-color: $ash;
    border: border($gray);
    color: black;
    border-radius: 50px;
    background-color: $ash;


    &::after {
      box-shadow: none;
    }

    button,
    input {
      font-size: var(--small-copy);
      font-family: $font-family-body;
    }

    button:hover {
      color: black;
    }
  }
}

.tinkiu-flex-column {
  @include flex($column: true);
}