@use 'tinkiu-layouts' as *;
@use 'tinkiu-size-maps' as *;
@use 'tinkiu-typography' as *;
@use 'tinkiu-colors' as *;

div.tinkiu-main-collection-product-grid.gradient {
  @include flex-column;
  width: 100vw;
  padding: 0;

  .facets-vertical.page-width {
    @include flex(flex-start, flex-start);
    width: var(--full-width);
    margin: 0;
    padding: 0;
    max-width: 100%;
    align-items: flex-start;
    gap: var(--column-gap);
  }

  aside.facets-wrapper {
    width: column-width(3);
    padding: 0;
    flex: none;
  }

}

.tinkiu-facets-container.facets-container {
  padding-top: 0;

  facet-filters-form form {
    width: 100%;

    .active-facets>facet-remove {
      display: none;
    }


    .active-facets-vertical-filter {
      color: black;
      margin-bottom: var(--detail-label-margin);

      &,
      & * {
        font-size: var(--ui-small);
      }

      h2 {
        text-transform: uppercase;
        font-family: $font-family-body;
        margin-bottom: 0;
        line-height: $facet-label-line-height;
      }

      facet-remove.active-facets__button-wrapper {
        color: $gray;
        margin-bottom: 0;

        a {
          line-height: 1;
        }
      }


    }
  }
}

details.tinkiu-facet-details,
details.facets__disclosure-vertical[open] {
  border-color: $gray;

  .parent-display.facets__display-vertical,
  .facets__display-vertical {
    animation: none;

    fieldset {
      padding: 0;

      ul {
        @include flex-column(flex-start, flex-start);
        gap: var(--small-space-y);

        li {

          .facet-checkbox,
          label {
            @include flex(center, flex-start);


            gap: var(--radio-input-gap);
            padding: 0;
            color: black;

            svg {
              margin-right: 0;
              background-color: transparent;
            }

            &,
            & * {
              @include detail-caption;
            }

            &:hover .facet-checkbox__text-label {
              text-decoration: none;
            }

            input[type='checkbox']:checked {
              &~svg {
                background-color: black;
              }

              &~.svg-wrapper svg {
                visibility: hidden;
              }
            }
          }
        }
      }
    }

    price-range {
      display: flex;
      gap: var(--inner-column-gap);
      padding: 0;

      .tinkiu-price-facet-field {
        @include flex(center, flex-start);
        margin: 0;

        &:before,
        &:after {
          box-shadow: none;
        }

        input {
          @include ui;
          padding: var(--input-padding);
          border: border($gray);
          border-radius: var(--input-radius);
        }

        label {
          font-size: var(--ui-small);
          text-transform: uppercase;
          letter-spacing: 0;
          top: auto;
        }
      }
    }
  }

  summary {
    padding: var(--filter-label-margin) 0;
    @include detail-label;
    font-weight: normal;

    &:hover {
      .facets__summary-label {
        text-decoration: none;
      }
    }
  }
}

.tinkiu-product-grid-container {
  @include flex-column(flex-end, flex-start);
  @include no-focus-outline;
  width: 100vw;


  &:hover {
    text-decoration: none;
  }


  .tinkiu-facets-container-sort {
    margin: 0;
    padding: 0;

    flex: none;

    .facet-filters__field {
      margin-bottom: var(--detail-label-margin);

      &,
      & * {
        font-family: $font-family-body;
        font-size: var(--ui-small);
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: $facet-label-line-height;
      }

      h2 {
        margin-right: var(--inner-column-gap);
      }

      select {
        text-transform: none;
        @include no-focus-outline;
      }
    }
  }
}


.tinkiu-product-grid {
  @include flex(flex-start, flex-start);
  flex-wrap: wrap;
  gap: var(--column-gap);

  .tinkiu-product-insert .tinkiu-product-insert__images img {
    @include square(column-width(3));
  }
}