@use 'layouts' as *;
@use 'colors' as *;

.tinkiu-price {

  &:not(.price--on-sale) .price__regular,
  &.price--on-sale .price__sale {
    @include flex($flex-start: true);


    gap: var(--price-gap);

    @include mobile {
      /*    flex-direction: column;
      gap: 0; */
    }

    span,
    span s {
      font-size: var(--small-copy-label);
      letter-spacing: 0;
      margin: 0;
    }
  }

  .price__sale {


    s {
      color: $dark-gray;
    }
  }

  .price__regular {
    color: black;
  }
}