@use 'layouts' as *;


.tinkiu-stories {
  @include flex($justify: flex-start, $full-screen: true, $column: true, $section-gapped: true);

  .tinkiu-stories__content {
    width: var(--full-width);

    @include mobile {
      @include flex($column: true);
      gap: calc(var(--section-media-spacing) * 2);
    }
  }

  .tinkiu-pagination-wrapper {
    margin-top: var(--section-media-spacing);
  }

  .tinkiu-story__preview:first-child .tinkiu-story__preview__content {
    margin-top: 0;
  }

}