@use "layouts" as *;
@use "typography" as *;

.tinkiu-own-story {
  @include flex(
    $justify: flex-start,
    $full-screen: true,
    $column: true,
    $section-gapped: true
  );

  .tinkiu-own-story__gallery__images {
    @include flex($gapped: true);
    width: var(--full-width);
    flex-wrap: wrap;

    img,
    video {
      --column-count: 3;
      $size: calc(
        (var(--full-width) - var(--column-gap) * (var(--column-count) - 1)) /
          var(--column-count)
      );
      width: $size;
      aspect-ratio: 9/16;

      border-radius: var(--media-border-radius);
      @include mobile {
        --column-count: 2;
      }
    }
  }

  .tinkiu-own-story__vimeo {
    width: var(--full-width);

    iframe {
      aspect-ratio: 16 / 9;
    }
  }

  .tinkiu-own-story__images {
    width: var(--inset-width);

    img {
      width: 100%;
    }
  }

  .tinkiu-own-story__vimeo,
  .tinkiu-own-story__images,
  .tinkiu-own-story__gallery {
    @include flex($column: true);
    gap: var(--small-section-media-spacing);
  }

  .tinkiu-section-header {
    width: 100%;
    &:not(:first-child) {
      margin-top: var(--inner-section-spacing);
    }
  }

  .tinkiu-own-story__additional-writeup {
    margin-top: var(--small-section-media-spacing);
  }
}
