@use 'layouts' as *;
@use 'colors' as *;

.tinkiu-price {



  &:not(.price--on-sale) .price__regular,
  &.price--on-sale .price__sale {
    @include flex($flex-start: true);

    gap: var(--inner-column-gap);

    span,
    span s {
      font-size: var(--small-copy-label);
      letter-spacing: 0;
      margin: 0;
    }
  }

  .price__sale {
    s {
      color: $gray;
    }
  }

  .price__regular {
    color: black;
  }
}