@use 'layouts' as *;
@use 'size-maps' as *;
@use 'typography' as *;
@use 'colors' as *;
@use 'sizes' as *;

div.tinkiu-main-collection-product-grid.gradient {
  @include flex($full-screen: true, $column: true, $no-padding: true);
  margin-top: var(--section-media-spacing);

  .facets-vertical.page-width {
    @include flex($flex-start: true, $gapped: true, $full-width: true, $no-space: true);
    max-width: 100%;
  }

  aside.facets-wrapper {
    width: column-width(3);
    padding: 0;
    flex: none;
  }

}

.tinkiu-facets-container.facets-container {
  padding-top: 0;

  facet-filters-form form {
    width: 100%;

    .active-facets>facet-remove {
      display: none;
    }


    .active-facets-vertical-filter {
      color: black;
      margin-bottom: var(--detail-label-margin);

      &,
      & * {
        font-size: var(--ui-small);
      }

      h2 {
        text-transform: uppercase;
        font-family: $font-family-body;
        margin-bottom: 0;
        line-height: $facet-label-line-height;
      }

      facet-remove.active-facets__button-wrapper {
        color: $gray;
        margin-bottom: 0;

        a {
          line-height: 1;
        }
      }


    }
  }
}

details.tinkiu-facet-details:not([open]),
details.facets__disclosure-vertical[open] {
  border-color: $gray;

  .parent-display.facets__display-vertical,
  .facets__display-vertical {
    animation: none;

    fieldset {
      padding: 0;

      ul {
        @include flex($column: true, $flex-start: true);
        gap: var(--small-space-y);

        li {

          .facet-checkbox,
          label {
            @include flex($justify: flex-start);


            gap: var(--radio-input-gap);
            padding: 0;
            color: black;

            svg {
              margin-right: 0;
              background-color: transparent;
            }

            &,
            & * {
              @include detail-caption;
            }

            .facet-checkbox__text-label {
              @include hover-underline(none);
            }


            input[type='checkbox']:checked {
              &~svg {
                background-color: black;
              }

              &~.svg-wrapper svg {
                visibility: hidden;
              }
            }
          }
        }
      }
    }

    price-range {
      display: flex;
      padding: 0;
      @include split($gap: var(--inner-column-gap));


      @include above-large-desktop {
        flex-wrap: wrap;

        >* {
          width: 100%;
        }
      }


      .tinkiu-price-facet-field {
        @include flex($justify: flex-start);
        margin: 0;

        &:before,
        &:after {
          box-shadow: none;
        }

        input {
          @include ui;
          padding: var(--input-padding);
          border: border($gray);
          border-radius: $input-border-radius;
        }

        label {
          font-size: var(--ui-small);
          text-transform: uppercase;
          letter-spacing: 0;
          top: auto;
        }
      }
    }
  }

  summary {
    padding: var(--filter-label-margin) 0;
    @include detail-label;
    font-weight: normal;

    &:hover {
      .facets__summary-label {
        text-decoration: none;
      }
    }
  }
}

.tinkiu-product-grid-container {
  @include flex($align: flex-end, $justify: flex-start, $full-screen: true, $column: true);
  @include no-focus-outline;

  @include hover-underline(none);


  .tinkiu-facets-container-sort {
    margin: 0;
    padding: 0;

    flex: none;

    .facet-filters__field {
      margin-bottom: var(--detail-label-margin);

      &,
      & * {
        font-family: $font-family-body;
        font-size: var(--ui-small);
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: $facet-label-line-height;
      }

      h2 {
        margin-right: var(--inner-column-gap);
      }

      select {
        text-transform: none;
        @include no-focus-outline;
      }
    }
  }
}


.tinkiu-product-grid {
  @include flex($flex-start: true, $gapped: true);
  flex-wrap: wrap;

  $product-info-width: column-width(3);

  product-info {
    width: $product-info-width;
  }

  .tinkiu-product-insert .tinkiu-product-insert__images img {
    @include square($product-info-width);
  }
}