@use 'sizes' as *;
@use 'layouts' as *;
@use 'typography' as *;
@use 'size-maps' as *;

.tinkiu-story__preview__content {
  @include flex($align: flex-start, $gapped: true, $full-width: true);
  margin-top: var(--section-media-spacing);

  @include mobile {
    flex-direction: column;
    display: block;
    align-items: center;
    @include inset-width;
  }

  >div {
    @include square;
  }

  .tinkiu-story__preview__image {
    display: flex;
    width: var(--split-image-width);
    flex-shrink: 0;
    height: fit-content;

    a {
      display: flex;
      width: 100%;
    }

    img,
    video {
      border-radius: var(--media-border-radius);
      height: var(--homepage-stories-image-height);
      width: 100%;
      object-fit: cover;
    }

    @include mobile {
      width: 100%;
    }
  }

  .tinkiu-story__preview__content__info {
    @include flex($column: true, $align: flex-start, $justify: space-between);

    div {
      max-width: 100%;
    }
  }

  h3 {
    @include hover-underline;
    margin: 0;
    margin-top: var(--large-inner-section-gap);
    font-size: var(--subsection-header);
    text-transform: uppercase;
    line-height: 1.1;
    max-width: var(--side-info-width);

    @include mobile {
      margin-top: var(--section-media-spacing);
    }

  }


  .tinkiu-story__preview__category {
    text-align: left;
    font-size: var(--small-copy);
    margin-top: var(--small-space-y);
  }

  .tinkiu-story__preview__details {
    @include details;

    @include mobile {
      margin-top: var(--section-media-spacing);
    }
  }

  .tinkiu-story__preview__description {
    @include description;
    text-align: left;
    margin: var(--homepage-stories-description-margin-top) 0;
  }

  .tinkiu-cta-button {
    margin: 0;

    @include mobile {
      display: none;
    }
  }

  .tinkiu-product-insert {
    justify-self: flex-end;

    @include mobile {
      display: none;
    }
  }

  &--short.tinkiu-story__preview__content {
    @include desktop {
      h3 {
        margin-top: 0;
      }
    }

    img,
    video {
      height: var(--homepage-stories-image-height-short);
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: var(--large-section-gap);
      }
    }
  }
}