@use 'layouts' as *;
@use 'typography' as *;
@use 'colors' as *;
@use 'sizes' as *;

.tinkiu-contact {
  @include flex($full-screen: true, $column: true, $no-padding: true);

  .tinkiu-contact__contact-items {
    @include details;
    @include inset-width(true);
    margin: var(--large-inner-section-gap) 0;
  }

}

.tinkiu-contact-form {
  @include flex($full-screen: true, $column: true);

  .contact {
    @include inset-width(true);
  }

  .field {
    margin: var(--paragraph-spacing) 0 0;
    font-size: var(--small-copy);
  }

  .contact__fields {
    @include flex($gapped: true);

    .field {
      @include half-inset-width;
      margin: 0;

      input {
        border: border(black);
      }
    }
  }

  textarea.text-area {

    &,
    &:focus,
    &:not(:placeholder-shown) {
      border: border(black);
      background-color: $ash;
    }

  }

  input.field__input,
  textarea.text-area {
    padding: var(--input-padding);
    font-size: var(--small-copy);
    font-family: $font-family-body;
    color: black;
    border-radius: $input-border-radius;

    ~label {
      left: var(--input-padding);
    }
  }

  .contact__button {
    @include flex;
    margin-top: var(--blurb-button-margin-top);
  }
}