@use 'layouts' as *;
@use 'typography' as *;

.tinkiu-socials-embed {
  @include flex($column: true);

  h2 {
    @include section-header;
    margin-bottom: var(--section-media-spacing);
  }

  .tinkiu-socials-embed__content {
    @include flex($flex-start: true, $gapped: true);

    iframe,
    blockquote {
      width: var(--socials-embed-width) !important;
      max-width: var(--socials-embed-width) !important;
    }
  }
}