@use 'tinkiu-typography' as *;
@use 'tinkiu-colors' as *;
@use 'tinkiu-layouts' as *;


// FINISHED
.tinkiu-cart-items {
  th {
    font-size: var(--ui-small);
    border-color: $gray;
  }

  td {
    font-size: var(--copy-s);

    a {
      font-family: $font-family-body;

      @include hover-underline;
    }

    // TODO
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  .title-wrapper-with-link a.underlined-link {
    @include underline;
  }
}