@use 'typography' as *;
@use 'colors' as *;
@use 'layouts' as *;

// FINISHED
.tinkiu-cart-items {
  th {
    font-size: var(--ui-small);
    border-color: $gray;
  }

  td {
    font-size: var(--copy-s);

    a {
      font-family: $font-family-body;

      @include hover-underline;
    }

    // TODO
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  .title-wrapper-with-link a.underlined-link {
    @include underline;
  }

  quantity-input.quantity {
    width: auto;

    @include below-small-mobile {
      width: calc(14rem / var(--font-body-scale) + var(--inputs-border-width) * 2); // DEFAULT
    }
  }

  .cart__warnings {
    .tinkiu-cart-empty__button {
      @include cta-button;
    }
  }
}