$header-xxl: 5.6rem;
$header-xl: 5rem;
$header-l: 4.5rem;
$header-m: 4rem;
$header-line-height: 1.15;

$subheader-xxl: 3.6rem;
$subheader-xl: 3.2rem;
$subheader-l: 2.8rem;


$large-copy-xl: 2.4rem;
$large-copy-l: 2.2rem;
$large-copy-m: 2rem;
$large-copy-s: 1.8rem;
$large-copy-xs: 1.65rem;

$copy: 1.5rem;
$copy-m: 1.4rem;
$copy-s: 1.3rem;
$copy-xs: 1.2rem;

$font-family-heading: 'Fenul', serif;
$font-family-body: 'Dazzed', sans-serif;

$facet-label-line-height: 1.1;
$subsection-header-letter-spacing: 0.02em;


@mixin detail-caption() {
  font-family: $font-family-body;
  font-size: var(--small-copy);
  line-height: 1.1;
  color: black;
}

@mixin detail-label() {
  @include detail-caption;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1px;

  &~p {
    margin-bottom: var(--detail-label-margin);
  }
}

@mixin section-header() {
  font-size: var(--section-header);
  line-height: $header-line-height;
  max-width: var(--text-max-width);
}

@mixin subsection-header() {
  font-size: var(--subsection-header);
  line-height: $header-line-height;
  max-width: var(--text-max-width);
  text-transform: uppercase;
  letter-spacing: $subsection-header-letter-spacing;
}