@use 'tinkiu-entry' as *;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;

  &,
  &:-webkit-any-link,
  &:visited {
    color: inherit;
  }
}

@include responsive-vars-map($size-maps);

body {
  text-wrap: pretty;
  letter-spacing: 0;
}

:root,
body {
  background-color: $ash;
}


body,
p,
button {
  font-family: 'Dazzed', sans-serif;
}

p {
  color: black;
  margin: 0;
}

button {
  @include button;
}

body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Fenul', serif;
    margin: 0;
    letter-spacing: -0.003em;
  }

  p {
    font-family: $font-family-body;
    font-size: var(--large-copy);
    line-height: 1.15;
  }


  input.field__input {

    &,
    &:focus,
    &:not(:placeholder-shown) {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      border-bottom: border(black);
    }

    &::before,
    &::after {
      display: none;
    }

    &:focus~label,
    &:not(:placeholder-shown)~label {
      display: none;
    }
  }

  label.field__label {
    opacity: 0.5;
    left: 0;
    font-size: var(--small-copy-label);
    font-family: $font-family-body;
    letter-spacing: 0;
  }
}

#shop-hcaptcha-badge-container {
  display: none !important;
}


video {
  border-radius: var(--media-border-radius);
  background-color: $ash-dark;
}

img {
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -o-user-select: none !important;
  user-select: none !important;
}

.tinkiu-logo {
  .tinkiu-logo-seal {
    fill: $red;

    &-negative {
      fill: none;
    }
  }


  &--all-white {

    .tinkiu-logo-text,
    .tinkiu-logo-seal {
      fill: white;
    }
  }

  &--all-black {

    .tinkiu-logo-text,
    .tinkiu-logo-seal {
      fill: black;
    }
  }

  &--white {
    .tinkiu-logo-text {
      fill: white;
    }
  }
}