@use 'scss/tinkiu-entry' as *;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}


a {
  text-decoration: none;

  &,
  &:-webkit-any-link,
  &:visited {
    color: inherit;
  }
}

:root {
  @media (min-width: #{$large-screen + 1px}) {
    --spacing-xxxs: #{$spacing-xxs};
    --spacing-xxs: #{$spacing-xs};
    --spacing-xs: #{$spacing-s};
    --spacing-s: #{$spacing-m};
    --spacing-m: #{$spacing-l};
    --spacing-l: #{$spacing-xl};
    --spacing-xl: #{$spacing-xxl};
    --spacing-xxl: #{$large-spacing-s};
    --large-spacing-s: #{$large-spacing-m};
    --large-spacing-m: #{$large-spacing-l};
    --font-size-m: #{$font-size-l};
    --font-size-l: #{$font-size-xl};
    --font-size-xl: #{$font-size-xxl};
    --font-size-xxl: #{$font-size-xxxl};
    --max-width-long: #{$max-width-long};
    --max-width-short: #{$max-width-short};
    --homepage-list-gap: #{$spacing-m};
    --homepage-stories-content-height: 1600px;
    --homepage-founder-image-height: #{$intro-image-width};
    --homepage-founder-image-width: #{$intro-image-height};
    --homepage-founder-image-height-laptop: #{$intro-image-width-laptop};
    --homepage-founder-image-width-laptop: #{$intro-image-height-laptop};
    --homepage-newsletter-image-height: 240px;
    --homepage-footer-logo-width: 800px;

  }

  @media (max-width: $large-screen) {
    --spacing-xxxs: #{$spacing-xxxs};
    --spacing-xxs: #{$spacing-xxs};
    --spacing-xs: #{$spacing-xs};
    --spacing-s: #{$spacing-s};
    --spacing-m: #{$spacing-m};
    --spacing-l: #{$spacing-l};
    --spacing-xl: #{$spacing-xl};
    --spacing-xxl: #{$spacing-xxl};
    --large-spacing-s: #{$large-spacing-s};
    --large-spacing-m: #{$large-spacing-m};
    --font-size-m: #{$font-size-m};
    --font-size-l: #{$font-size-l};
    --font-size-xl: #{$font-size-xl};
    --font-size-xxl: #{$font-size-xxl};
    --max-width-long: #{$max-width-long-laptop};
    --max-width-short: #{$max-width-short-laptop};
    --homepage-list-gap: #{$spacing-xs};
    --homepage-stories-content-height: 1000px;
    --homepage-founder-image-height: #{$intro-image-width-laptop};
    --homepage-founder-image-width: #{$intro-image-height-laptop};
    --homepage-founder-image-height-laptop: #{$intro-image-width-laptop};
    --homepage-founder-image-width-laptop: #{$intro-image-height-laptop};
    --homepage-newsletter-image-height: 160px;
    --homepage-footer-logo-width: 550px;
  }
}

body {
  text-wrap: pretty;
  letter-spacing: 0;
}

:root,
body {
  background-color: $ash;
}


body,
p,
button {
  font-family: 'Dazzed', sans-serif;
}

p {
  color: black;
  margin: 0;
}

button {
  appearance: none;
  font-weight: bold;
  border: $red 1px solid;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 1rem;
  color: $red;

  &:hover {
    background-color: $red;
    color: $ash;
  }
}

body {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Fenul', serif;
    margin: 0;
    letter-spacing: -0.003em;
  }

  p {
    font-family: 'Dazzed', sans-serif;
    font-size: $font-size-m;
    line-height: 1.15;
  }


  input.field__input {

    &,
    &:focus,
    &:not(:placeholder-shown) {
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      border-bottom: 1px solid black;
    }

    &::before,
    &::after {
      display: none;
    }

    &:focus~label,
    &:not(:placeholder-shown)~label {
      display: none;
    }

    &,
    label.field__label {
      font-size: $font-size-s;
      font-family: 'Dazzed';
      letter-spacing: 0;
    }
  }

  label.field__label {
    opacity: 0.5;
    left: 0;
  }
}

.tinkiu-cta-button {
  font-size: $font-size-xs;
  padding: $spacing-xs $spacing-m;
  border-radius: $spacing-xs * 2;
  margin-top: $spacing-xxs;
  text-transform: uppercase;
}

#shop-hcaptcha-badge-container {
  display: none !important;
}