@use '../tinkiu-colors' as *;
@use '../tinkiu-laytouts' as *;
@use '../tinkiu-typography' as *;

header {
  @include flex(center, space-between);
  padding: $spacing-m $spacing-l;
  background-color: $ash;
  position: fixed;
  width: 100vw;
  top: 0;
  text-transform: uppercase;
  z-index: 999;

  div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  ul {
    gap: $spacing-m;
    font-size: $font-size-s;
  }
}

.tinkiu-logo {
  height: $header-logo-width;


  &-text {
    fill: black;
  }

  &-seal-negative {
    fill: none;
  }

  &-seal {
    fill: $red;
  }
}