@use '../tinkiu-typography' as *;
@use '../tinkiu-colors' as *;
@use '../tinkiu-laytouts' as *;


.tinkiu-homepage {
  @include flex-column;
  position: relative;
  background-color: $ash;

  h2 {
    font-size: var(--font-size-xxl);
  }

  p {
    text-align: center;
    margin: $spacing-s 0;
  }

  h2,
  p {
    max-width: var(--max-width-short);
  }

  >div,
  >.tinkiu-homepage__sticky-container>div {
    @include flex-column;
  }

  &,
  >div:not(.tinkiu-homepage__footer),
  >.tinkiu-homepage__sticky-container>div {
    background-color: $ash;
  }
}

.tinkiu-homepage__sticky-container.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  justify-content: flex-end;
}

.tinkiu-homepage-header {
  background-color: transparent;
  color: white;

  .tinkiu-logo {
    opacity: 0;
  }
}

.tinkiu-homepage__intro {
  --top: #{$intro-image-top};
  --width: #{$intro-image-width};
  --height: #{$intro-image-height};
  --max-width: #{$intro-image-max-width};
  --max-height: #{$intro-image-max-height};
  --border-radius: #{$intro-image-width};
  --header-color: #{$ash};

  @include fullscreen;
  flex: none;
  position: relative;

  .tinkiu-homepage__blurb {
    position: absolute;
    $top: calc(#{$intro-image-top} + #{$intro-image-height} / 2);
    top: $top;
    height: calc(100vh - #{$top});
    opacity: 0;
  }

  .tinkiu-logo {
    @include shift-to-center;
    z-index: 999;
    width: var(--homepage-footer-logo-width);
    height: auto;

    .tinkiu-logo-text {
      fill: white;
      padding-top: 10px;
    }
  }
}

.tinkiu-homepage__intro-image-container {
  @include flex;
  @include top-right;
  width: 100vw;
  gap: min(#{$large-spacing-l}, 7vw);

  .tinkiu-dot {
    opacity: 0;
    margin: 0;
  }
}

.tinkiu-homepage__intro-image {
  @include fullscreen(row);
  flex: none;
  overflow: hidden;

  img {
    @include square;
    @include top-left;
    object-fit: cover;
    opacity: 0;

    &:last-child {
      opacity: 1;
    }

    &:last-child {
      position: relative;
    }
  }
}


.tinkiu-homepage__feature {
  @include flex-column;
  margin-top: $spacing-l;

  img,
  video {
    width: $full-width;
    margin-bottom: $spacing-xl;
  }

  video {
    border-radius: $border-radius;
    background-color: #e2e2e2;
  }

  .tinkiu-dot {
    margin-top: var(--spacing-xxxs);
  }
}


.tinkiu-homepage__products-container {
  @include flex(flex-start, center);
  width: $full-width;
  gap: $gap;
  margin-bottom: var(--spacing-xxl);

  @media (max-width: $large-screen) {
    >:nth-child(3) {
      display: none;
    }
  }
}


.tinkiu-homepage__stories__content {
  @include flex(flex-start);
  width: $full-width;
  gap: $gap;
  margin-top: $spacing-l;
  height: var(--homepage-stories-content-height);

  >div {
    @include square;
  }

  .tinkiu-homepage__stories__image {
    display: flex;
    width: column-width(7);
    flex-shrink: 0;

    img {
      border-radius: $border-radius;
      width: 100%;
      object-fit: cover;
    }
  }

  .tinkiu-homepage__stories__content__info {
    @include flex-column(flex-start, space-between);
  }

  h3 {
    text-transform: uppercase;
    margin: 0;
    line-height: 1.1;
    margin-top: var(--large-spacing-m);
    font-size: var(--font-size-l);

    @media (min-width: #{$large-screen + 1px}) {
      max-width: column-width(3);
    }

    @media (max-width: $large-screen) {
      max-width: column-width(5);
    }
  }


  .tinkiu-homepage__stories__category {
    text-align: left;
    font-size: $font-size-s;
    margin-top: $spacing-xxxs;
  }

  .tinkiu-homepage__stories__details {
    @include flex (flex-start, flex-start);
    flex-wrap: wrap;
    width: column-width(4);
    gap: $gap;
    margin-top: var(--large-spacing-m);

    p {
      margin: 0;
      font-size: $font-size-s;
    }

    >div {
      @include flex-column(flex-start, flex-start);
      width: column-width(2);

      p:first-child {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .tinkiu-homepage__stories__description {
    max-width: min(#{column-width(4)}, #{$max-width-short});
    text-align: left;
    font-size: $font-size-s;
    line-height: 1.2;
    margin-top: var(--spacing-l);
  }

  .tinkiu-cta-button {
    margin-top: var(--spacing-l);
  }

  .tinkiu-product-insert {
    justify-self: flex-end;
  }
}

.tinkiu-homepage__founder {
  img {
    width: var(--homepage-founder-image-width);
    height: var(--homepage-founder-image-height);
    object-fit: cover;
    border-radius: var(--homepage-founder-image-height);
    margin: $spacing-l 0;
  }

  &>p {
    margin-bottom: 0;
  }

  .tinkiu-homepage__blurb {

    &,
    & p {
      margin-top: 0;
    }
  }
}

.tinkiu-homepage__ethos p {
  max-width: var(--max-width-long);
}

.tinkiu-homepage__ethos__images {
  @include flex(flex-start, flex-start);
  gap: $gap;
  margin: $spacing-m 0;
}

.tinkiu-homepage__ethos__image {
  @include flex-column;
  width: column-width(3);
}

.tinkiu-homepage__newsletter {
  @include fullscreen;
  flex: none;
  gap: var(--spacing-xxl);

  img {
    height: var(--homepage-newsletter-image-height);
  }

  .tinkiu-homepage__newsletter__content {
    @include flex-column;
  }

  .tinkiu-dot {
    margin-top: 0;
  }

  .tinkiu-homepage__newsletter__form {
    @include flex-column;
    position: relative;
  }

  // TODO: success
  input {

    &,
    &:focus,
    &:not(:placeholder-shown) {
      width: var(--max-width-short);
      padding: $spacing-s 0;
    }
  }

  label {
    bottom: $spacing-s;
  }

  .tinkiu-cta-button {
    margin-top: var(--spacing-l);
  }
}

.tinkiu-homepage__footer {
  @include fullscreen;
  z-index: 99;
  background-color: $red;

  .tinkiu-logo {
    padding-top: $header-height;
    width: var(--homepage-footer-logo-width);
    height: auto;

    .tinkiu-logo-text,
    .tinkiu-logo-seal {
      fill: white;
    }

  }

  h2 {
    margin-top: $large-spacing-s;
    color: white;
  }

  .tinkiu-homepage__footer__content {
    @include flex-column;
  }

  .tinkiu-homepage__footer__links {
    @include flex(flex-start, space-between);
    width: $full-width;
    position: absolute;
    bottom: $spacing-xxl;
    font-size: $font-size-s;
    gap: $gap;
    color: white;

    >.tinkiu-homepage__footer__links__column {
      @include flex(flex-start, flex-start);
      line-height: 1.3;

      &:first-child,
      &:nth-child(2) {
        width: column-width(4);
      }

      &:nth-child(3),
      &:nth-child(4) {
        flex-direction: column;
        width: column-width(2);
      }

      &:nth-child(2) {
        gap: $spacing-xxs;
      }
    }
  }
}

.tinkiu-homepage__list {
  @include flex-column;
  width: column-width(3);

  >h3:first-child {
    margin-bottom: var(--homepage-list-gap);
  }

  >h3:not(:first-child) {
    margin-top: var(--homepage-list-gap);
  }

  img {
    @include square;
    object-fit: cover;
    aspect-ratio: 1; // TODO
  }

  h3 {
    text-transform: uppercase;
    font-size: var(--font-size-l);

    &:first-child {
      margin-bottom: var(--homepage-list-gap);
    }

    &:not(:first-child) {
      margin-top: var(--homepage-list-gap);
    }
  }
}

.tinkiu-homepage__blurb {
  @include flex-column;
}

.tinkiu-product-insert {
  @include flex-column (flex-start, flex-start);

  p {
    margin: 0;
    font-size: $font-size-s;
    text-align: left;
  }

  h4 {
    font-size: $font-size-m;
    font-family: 'Dazzed';
    margin: $spacing-xxs 0 $spacing-xxxs;
  }

  h4:first-child {
    margin-top: 0;
  }

  .tinkiu-product-insert__price {
    margin-top: $spacing-xxxxs;
  }

  &--text-before {
    .tinkiu-product-insert__price {
      margin-bottom: $spacing-xxs;
    }
  }

  &--small {
    .tinkiu-product-insert__images img {
      width: column-width(2);
    }
  }

  &--medium {
    .tinkiu-product-insert__images img {
      width: column-width(3);
    }
  }

  .tinkiu-product-insert__images {
    @include flex;
    gap: $gap;

    img {
      flex: none;
    }
  }

}

.tinkiu-dot {
  @include square(24px);
  background-color: $red;
  border-radius: 100%;

  &:empty {
    display: block;
  }

  &--with-space {
    margin-top: $large-spacing-l;
    margin-bottom: var(--spacing-l);
  }
}